<h1>{{title}}</h1>
<span>Done by <strong><a href="https://www.linkedin.com/in/hungdvu/">Hung Vu</a></strong></span>
<hr/>
<div *ngFor="let result of results">
    <app-year-result [result]="result"></app-year-result>
</div>